html {
    font-family: sans-serif;
}

body {
    text-align: center;
}

#top-title {
    margin: 20px;
}

#country-select {
    margin: 10px;
}

footer p {
    font-size: 11px;
    margin-bottom: 0px;
    line-height: 18px;
}

#graphs {
    display: flex;
    justify-content: center;
}

#pyramid {
    margin-right: 20px
}

#gdp {
    margin-left: 20px
}

#year {
    font-size: xx-large;
    margin:0px;
}

#controllables {
    margin:20px 20px 10px;
}